@model EasyShop.Domain.ViewModels.ControlPanel.DevBlog.DevBlogViewModel
@using EasyShop.Domain.Entries.Identity
@using EasyShop.Domain.Enums.CP.Pagination
@using EasyShop.Services.Data.FirstRunInitialization.IdentityInitialization
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Dev-Blog";
    Layout = "Partial/_DevBlogLayout";

    bool isAdmin = false;
    if (User?.Identity?.Name != null)
    {
        var user = await UserManager.FindByEmailAsync(User.Identity.Name);
        isAdmin = await UserManager.IsInRoleAsync(user, DefaultIdentity.RoleAdmin);
    }

    var request = Url.ActionContext.HttpContext.Request;
    var returnUrl = request.Scheme + "://" + request.Host;
}
<input id="returnUrl" value="@returnUrl" disabled="" hidden/>

<div class="">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-container">
                @if (isAdmin)
                {
                    <div class="row m-b-md">
                        <div class="col-lg-3">
                            <a class="btn btn-default" asp-area="" asp-controller="DevBlog" asp-action="EditPost">Create post</a>
                        </div>
                    </div>
                }
                @if (Model.Posts.Any())
                {
                    <ol class="feed">
                        @foreach (var post in Model.Posts)
                        {
                            <li class="feed-item">
                                <div class="post">
                                    <div class="post-body">
                                        <div class="post-content">
                                            @if (isAdmin)
                                            {
                                                <a class="btn btn-default pull-right" asp-area="" asp-controller="DevBlog" asp-action="EditPost" asp-route-postId="@post.Id">Edit</a>
                                            }
                                            <h4>@post.Title</h4>
                                            <p>
                                                @post.PostMessage
                                                @if (!string.IsNullOrEmpty(post.Link))
                                                {
                                                    <small><a href="@post.Link" target="_blank">@post.LinkTitle</a></small>
                                                }
                                            </p>
                                        </div>
                                        <div class="post-img">
                                            @if (post.ImgUrl != null)
                                            {
                                                @*<a href="" target="_blank">*@
                                                <img class="img-responsive" src="@post.ImgUrl" alt="@post.ImgUrl">
                                                @*</a>*@
                                            }
                                        </div>
                                        <div class="post-actions">
                                            <a data-postId="@post.Id" class="post-action" asp-area="" asp-controller="DevBlog" asp-action="IncrementLike" asp-route-postId="@post.Id">
                                                <span class="icon icon-thumbs-up icon-fw"></span>
                                                Like
                                            </a>
                                            <div class="post-summary">
                                                @if (post.LikesCounter > 0)
                                                {
                                                    <small class="truncate">Likes: @post.LikesCounter</small>
                                                }
                                                else
                                                {
                                                    <small style="display: none" class="truncate">Likes: @post.LikesCounter</small>
                                                }
                                                <small class="post-timestamp">@post.DateTimePosted.ToString("D")</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.Pages.TotalPages > 1)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="dataTables_paginate" id="demo-dynamic-tables-1_paginate">
                <page-link page-model="@Model.Pages" type="@PaginationTypeEnum.ControlPanelDevBlog"></page-link>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/customScripts/DevBlog/LikesLogic.js" asp-append-version="true"></script>
}
