@using EasyShop.Domain.Entries.Identity
@using EasyShop.Services.Data.FirstRunInitialization.IdentityInitialization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal.Account
@model EasyShop.Domain.ViewModels.CP.Notification.NotificationsListViewModel
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Notifications";
    Layout = "_ControlPanelLayout";

    var user = await UserManager.FindByEmailAsync(User.Identity.Name);
}

@if (await UserManager.IsInRoleAsync(user, DefaultIdentity.RoleAdmin))
{
    <a asp-area="" asp-controller="Notification" asp-action="EditNotification" class="btn btn-default m-l-md">Create notification</a>
}

<input id="url" asp-for="Url" hidden disabled />


<h2 class="text-center m-t-md">Notifications</h2>
<a asp-area="" asp-controller="Notification" asp-action="MarkAllAsRead" class="btn btn-default m-l-md">Mark all as read</a>

<ul id="notificationsList" class="list-group list-group-divided">
    @foreach (var notification in Model.NotificationViewModels)
    {
        <li class="@(notification.Reviewed ? @"disabled" : "") list-group-item">
            <h4>@notification.Title</h4>
            <p>@notification.Message</p>
            @if (!notification.Reviewed)
            {
                <a class="pull-right" data-notificationId="@notification.Id" href="#" id="markAsRead">Mark as read</a>
            }
            <br />
            <small><a href="@notification.Link">@notification.LinkTitle</a></small>
        </li>
    }
</ul>

<div class="row">
    <div class="col-sm-12">
        <div class="dataTables_paginate paging_simple_numbers" id="demo-dynamic-tables-1_paginate">
            <page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
            @*<ul class="pagination">
                <li class="paginate_button previous disabled" id="demo-dynamic-tables-1_previous">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="0" tabindex="0">«</a>
                </li>
                <li class="paginate_button active">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="1" tabindex="0">1</a>
                </li>
                <li class="paginate_button ">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="2" tabindex="0">2</a>
                </li>
                <li class="paginate_button ">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="3" tabindex="0">3</a>
                </li>
                <li class="paginate_button ">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="4" tabindex="0">4</a>
                </li>
                <li class="paginate_button next" id="demo-dynamic-tables-1_next">
                    <a href="#" aria-controls="demo-dynamic-tables-1" data-dt-idx="5" tabindex="0">»</a>
                </li>
            </ul>*@
        </div>
    </div>
</div>




@section Styles
{
    <link href="~/css/demo.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/demo.min.js" asp-append-version="true"></script>
    <script src="~/js/customScripts/Notifications/notifications.js" asp-append-version="true"></script>
}
