@using EasyShop.Domain.Entries.Identity
@using EasyShop.Services.Data.FirstRunInitialization.IdentityInitialization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal.Account
@model EasyShop.Domain.ViewModels.CP.Notification.NotificationsListViewModel
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Notifications";
    Layout = "_ControlPanelLayout";

    var user = await UserManager.FindByEmailAsync(User.Identity.Name);
}

@if (await UserManager.IsInRoleAsync(user, DefaultIdentity.RoleAdmin))
{
    <a asp-area="" asp-controller="Notification" asp-action="EditNotification" class="btn btn-default">Create notification</a>
}

<input asp-for="Url" hidden disabled/>

<div style="min-height: 100%" class="m-t-md">
    <div class="row">
        <h2 class="text-center">Notifications</h2>
        <a asp-area="" asp-controller="Notification" asp-action="MarkAllAsRead" class="btn btn-default pull-lg-right m-r-md">Mark all as read</a>
        <div class="col-lg-12 m-t-md">
            <div style="min-height: 100%">
                <ul class="list-group list-group-divided">
                    @foreach (var notification in Model.NotificationViewModels)
                    {
                        <li class="@(notification.Reviewed ? @"disabled" : "") list-group-item">
                            <h4>@notification.Title</h4>
                            <p>@notification.Message</p>
                            @if (!notification.Reviewed)
                            {
                                <div id="markAsRead" class="pull-right">
                                    <label class="custom-control custom-control-default custom-checkbox">
                                        <input id="agree" class="custom-control-input" type="checkbox">
                                        <span class="custom-control-indicator"></span>
                                        <small class="custom-control-label">Mark as read</small>
                                    </label>
                                </div>
                            }
                            <br />
                            <small><a href="@notification.Link">@notification.LinkTitle</a></small>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/css/demo.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/demo.min.js" asp-append-version="true"></script>
    <script src="~/js/customScripts/Notifications/notifications.js" asp-append-version="true"></script>
}
