@model EasyShop.Domain.ViewModels.ControlPanel.DevBlog.DevBlogViewModel
@using EasyShop.Domain.Entries.Identity
@using EasyShop.Services.Data.FirstRunInitialization.IdentityInitialization
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Dev blog";
    Layout = "Partial/_DevBlogLayout";

    AppUser user;
    bool isAdmin = false;
    if (User?.Identity?.Name != null)
    {
        user = await UserManager.FindByEmailAsync(User.Identity.Name);
        isAdmin = await UserManager.IsInRoleAsync(user, DefaultIdentity.RoleAdmin);
    }
}

<div class="devBlogWrap">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-container">
                @if (isAdmin)
                {
                    <div class="row m-b-md">
                        <div class="col-lg-3">
                            <a class="btn btn-default" asp-area="" asp-controller="DevBlog" asp-action="EditPost">Create post</a>
                        </div>
                    </div>
                }
                <ol class="feed">
                    @foreach (var post in Model.Posts)
                    {
                        <li class="feed-item">
                            <div class="post">
                                <div class="post-body">
                                    <div class="post-content">
                                        <h4>@post.Title</h4>
                                        <p>
                                            @post.PostMessage
                                            @if (string.IsNullOrEmpty(post.Link))
                                            {
                                                <small><a href="@post.Link" target="_blank">@post.LinkTitle</a></small>
                                            }
                                        </p>
                                    </div>
                                    <div class="post-img">
                                        @*<a href="" target="_blank">*@
                                            <img class="img-responsive" src="~/img/devBlog/@($"{post.ImgUrl}")" alt="@post.ImgUrl">
                                        @*</a>*@
                                    </div>
                                    <div class="post-actions">
                                        <a class="post-action" asp-area="" asp-controller="DevBlog" asp-action="IncrementLike" asp-route="@User?.Identity?.Name">
                                            <span class="icon icon-thumbs-up icon-fw"></span>
                                            Like
                                        </a>
                                        <a class="post-action" href="#">
                                            <span class="icon icon-share icon-fw"></span>
                                            Share
                                        </a>
                                        <div class="post-summary">
                                            <small class="truncate">Likes: 535k</small>
                                            <small class="post-timestamp">53 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/custom/DevBlog/devBlog.css" rel="stylesheet" asp-append-version="true" />
}
