@using EasyShop.Domain.Enums.CP.DevBlog
@model EasyShop.Domain.ViewModels.CP.ControlPanel.DevBlog.EditDevBlogPostViewModel
@{
    ViewData["Title"] = "Add / Edit post";
    Layout = "Partial/_DevBlogLayout";
}

<div class="well well-transparrent text-center">
    <h2>Add / Edit Post</h2>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="demo-form-wrapper">
                <form enctype="multipart/form-data" asp-area="" asp-controller="DevBlog" asp-action="EditPost">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="ImgUrl" type="hidden" />

                    @if (!string.IsNullOrEmpty(Model.ImgUrl))
                    {
                        <div class="form-group">
                            <img class="postImage" src="~/DevBlogImages/@Model.ImgUrl" alt="@Model.ImgUrl" />
                        </div>
                    }
                    <span asp-validation-for="ImageToUpload" class="warning text-warning"></span>
                    <div class="form-group">
                        <label class="file-upload-btn btn btn-primary">
                            Upload picture
                            <input asp-for="ImageToUpload" type="file" accept="image/*">
                        </label>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <div class="form-group">
                        <label class="pull-left">Title</label>
                        <input asp-for="Title" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Message</label>
                        <textarea class="form-control m-b-md" asp-for="PostMessage" placeholder="Enter text here..."></textarea>
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Link title</label>
                        <input asp-for="LinkTitle" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Link</label>
                        <input asp-for="Link" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block m-t-md" type="submit">Add / Save</button>
                    </div>
                </form>
                <div>
                    <span id="confirmButton_@Model.Id">
                        <button class="btn btn-danger btn-block" onclick="deleteConfirmationDialog('@Model.Id', true)">Delete post</button>
                    </span>
                    <span style="display: none" id="confirmSpan_@Model.Id">
                        <span>Post: <strong style="color: #00aced;">@Model.Title</strong> will be permanently deleted! You sure you want to do that?</span>
                        <a style="background-color: #75ac00; border: none;" class="btn btn-default" asp-area="" asp-controller="DevBlog" asp-action="DeletePost" asp-route-postId="@Model.Id">Yes</a>
                        <a href="#" style="border: none;" class="btn btn-danger" onclick="deleteConfirmationDialog('@Model.Id', false)">No</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/custom/Override/override-elephant.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/Shared/custom-shared-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/DevBlog/edit-post.css" asp-append-version="true" />
}

@section Scripts
{
    @if (Model.Status == DevBlogPostUpdateResult.Updated)
    {
        Model.Status = DevBlogPostUpdateResult.Default;
        <script>
            toastr.success('Post updated');
        </script>
    }

    <script src="~/js/customScripts/DeleteConfirmationDialog.js" asp-append-version="true"></script>
}
