@model EasyShop.Domain.ViewModels.Shop.Rust.RustShopViewModel
@{
    ViewData["Title"] = "Edit rust Shop";
    Layout = "Partial/_RustEditLayout";
}

<div class="well text-center">
    <h2>Categories</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="get" asp-area="" asp-controller="RustShop" asp-action="CreateCategory" asp-route-shopId="@Model.Id">
                <button class="btn btn-primary btn-block" type="submit">Create category</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-responsive table-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Items in category</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var categoryModel in Model.RustShopCategories.Categories)
                                {
                                    <tr>
                                        <td>
                                            <strong>@categoryModel.Index</strong>
                                        </td>
                                        <td>
                                            <strong>@categoryModel.Name</strong>
                                        </td>
                                        <td>
                                            <strong>@categoryModel.AssignedItemsCount</strong>
                                        </td>
                                        <td>
                                            <a asp-area="" asp-controller="RustShop" asp-action="EditCategory" asp-route-shopId="@Model.Id" asp-route-categoryId="@categoryModel.Id"><span class="icon icon-edit icon-lg icon-fw"></span></a>
                                        </td>
                                        <td>
                                            <a id="confirmButton_@categoryModel.Id" href="#" onclick="deleteConfirmationDialog('@categoryModel.Id', true)" style="color: red"><span class="icon icon-times icon-lg icon-fw"></span></a>
                                            <span id="confirmSpan_@categoryModel.Id" style="display: none">
                                                <span>All assigned products will be deleted!<br>Are you sure you want to delete?</span>
                                                <span>
                                                    <a asp-area="" asp-controller="RustShop" asp-action="DeleteCategory" asp-route-shopId="@Model.Id" asp-route-categoryId="@categoryModel.Id" style="color: green"><span class="icon icon-check icon-lg icon-fw"></span></a>
                                                </span>
                                                <span>
                                                    <a style="color: red; cursor: pointer" onclick="deleteConfirmationDialog('@categoryModel.Id', false)"><span class="icon icon-times icon-lg icon-fw"></span></a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/customScripts/DeleteConfirmationDialog.js" asp-append-version="true"></script>
}