@using EasyShop.Domain.Enums.Rust
@using log4net.Util
@model EasyShop.Domain.ViewModels.Rust.Shop.RustShopViewModel
@{
    ViewData["Title"] = "Edit server";
    Layout = "Partial/_RustEditLayout";

    string mapNameOptionsHtml = string.Empty;
    foreach (var item in Model.RustServerEditViewModel.MapsDict)
    {
        mapNameOptionsHtml += $"<option value=\"{item.Key}\">{item.Value}</option>";
    }
}

<div class="well text-center">
    <h2 class="text-center">Add / Edit server</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="demo-form-wrapper">
                <form method="post" asp-area="" asp-controller="RustShop" asp-action="EditServer">
                    <input asp-for="@Model.Id" type="hidden" />
                    <input asp-for="@Model.ShopName" type="hidden" />
                    <input asp-for="@Model.ShopTitle" type="hidden" />
                    <input asp-for="@Model.RustServerEditViewModel.Id" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <div class="showInShopWrap">
                        <label>Show in shop</label>
                        <label class="switch switch-primary m-l-lg">
                            <input id="ShowInShop"
                                   asp-for="RustServerEditViewModel.ShowInShop"
                                   class="switch-input"
                                   type="checkbox"
                                   value="@Model.RustServerEditViewModel.ShowInShop">
                            <span class="switch-track"></span>
                            <span class="switch-thumb"></span>
                        </label>
                    </div>
                    <div id="EditServerDiv">
                        <div class="form-group">
                            <label class="pull-left">Name</label>
                            <input asp-for="@Model.RustServerEditViewModel.Name" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="pull-left">Name in shop</label>
                            <input asp-for="@Model.RustServerEditViewModel.NameInShop" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="pull-left">Index</label>
                            <input asp-for="@Model.RustServerEditViewModel.Index" class="form-control" type="number">
                            <span class="help-block">Smaller index make category higher in list</span>
                        </div>
                        <div class="form-group">
                            <label class="pull-left">IP Address</label>
                            <input asp-for="@Model.RustServerEditViewModel.IpAddress" class="form-control" type="text">
                            <span class="help-block">Input example (192.0.2.222)</span>
                        </div>
                        <div class="form-group">
                            <label class="pull-left">Port</label>
                            <input asp-for="@Model.RustServerEditViewModel.Port" class="form-control" type="number">
                        </div>
                        <div class="form-group">
                            <label class="pull-left">Current map type</label>
                            <input asp-for="@Model.RustServerEditViewModel.CurrentMap" class="form-control" type="text" disabled>
                        </div>
                        <div class="form-group">
                            <label class="form-label pull-left">Set map type</label>
                            <select asp-for="@Model.RustServerEditViewModel.MapId" class="form-control">
                                <option selected disabled hidden></option>
                                @Html.Raw(mapNameOptionsHtml)
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block m-t-md" type="submit">Add / Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div>
                <span id="confirmButton_@Model.Id">
                    <button class="btn btn-danger btn-block" onclick="deleteConfirmationDialog('@Model.Id', true)">Delete server</button>
                </span>
                <span style="display: none" id="confirmSpan_@Model.Id">
                    <form style="display: inline;" method="get" asp-area="" asp-controller="RustShop" asp-action="DeleteServer" asp-route-shopId="@Model.Id" asp-route-serverId="@Model.RustServerEditViewModel.Id">
                        <span>This server will be permanently deleted! You sure you want to do that?</span>
                        <button style="max-width: fit-content; display: inline;" class="btn btn-success btn-block m-b-md" type="submit">Yes</button>
                    </form>
                    <button style="max-width: fit-content; display: inline;" class="btn btn-danger btn-block m-b-md" onclick="deleteConfirmationDialog('@Model.Id', false)">No</button>
                </span>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/custom/Rust/RustServerEdit.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/customScripts/Rust/RustServerEdit.js" asp-append-version="true"></script>
    <script src="~/js/customScripts/DeleteConfirmationDialog.js" asp-append-version="true"></script>

    @if (Model.RustServerEditViewModel.Status == RustEditServerResult.Updated)
    {
        <script>
            toastr.success('Server updated');
        </script>
    }
    else if (Model.RustServerEditViewModel.Status == RustEditServerResult.Created)
    {
        <script>
            toastr.success('Server created');
        </script>
    }
    else if (Model.RustServerEditViewModel.Status == RustEditServerResult.Failed)
    {
        <script>
            toastr.warning('Please, check all fields for correct values!');
        </script>
    }
}
