@model EasyShop.Domain.ViewModels.CP.ControlPanel.Rust.Shop.RustShopViewModel
@{
    ViewData["Title"] = "ServersManager";
    Layout = "Partial/_RustEditLayout";
}

<div class="panel well">
    <h2 class="text-center">Servers manager</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="get" asp-area="" asp-controller="RustShop" asp-action="CreateServer" asp-route-shopId="@Model.Id">
                <button class="btn btn-primary btn-block" type="submit">Add server</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-middle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Name in shop</th>
                                    <th>IP:Port</th>
                                    <th>ServerMap</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var server in Model.RustServerManagerViewModel.RustServers)
                                    {
                                        <tr>
                                            <td>@server.Index</td>
                                            <td>@server.Name</td>
                                            <td>@server.NameInShop</td>
                                            <td>@server.IpAddress:@server.Port</td>
                                            <td>@server.MapName</td>
                                            <td>
                                                <span class="label @(server.ShowInShop ? "label-success" : "label-danger") label-pill">
                                                    @(server.ShowInShop ? "On" : "Off")
                                                </span>
                                            </td>
                                            <td>
                                                <strong>
                                                    <a asp-area=""
                                                       asp-controller="RustShop"
                                                       asp-action="EditServer"
                                                       asp-route-shopId="@Model.Id"
                                                       asp-route-serverId="@server.Id"
                                                       style="color: #00aced">
                                                        <span class="icon icon-edit icon-lg icon-fw"></span>
                                                    </a>
                                                </strong>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @if (!Model.RustServerManagerViewModel.RustServers.Any())
                        {
                            <h4 class="text-center">No servers found in shop: <strong style="color: #00aced;">@Model.ShopName</strong>. You can add servers by pressing the button above.</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>