@model EasyShop.Domain.ViewModels.CP.Notification.NotificationComponentViewModel

<li class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
        <span class="icon-with-child hidden-xs">
            <span class="icon icon-bell-o icon-lg"></span>
            @if (Model.NewNotifications > 0)
            {
                <span class="badge badge-danger badge-above right">@Model.NewNotifications</span>
            }
        </span>
        <span class="visible-xs-block">
            <span class="icon icon-bell icon-lg icon-fw"></span>
            @if (Model.NewNotifications > 0)
            {
                <span class="badge badge-danger pull-right">@Model.NewNotifications</span>
            }
            Notifications
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
        <div class="dropdown-header">
            <a class="dropdown-link" asp-area="" asp-controller="Notification" asp-action="MarkAllAsRead">Mark all as read</a>
            <h5 class="dropdown-heading">Recent Notifications</h5>
        </div>
        <div class="dropdown-body">
            <div class="list-group list-group-divided custom-scrollbar">
                @{
                    foreach (var notification in Model.NotificationViewModels)
                    {
                        <a class="list-group-item notification-overlay-parent" asp-area="" asp-controller="Notification" asp-action="NotificationList">
                            <div class="notification">
                                @if (notification.Reviewed)
                                {
                                    <div class="notification-overlay"></div>
                                }
                                <div class="notification-content">
                                    <small class="notification-timestamp">
                                        @{
                                            var dateSpan = DateTime.Now.Subtract(notification.DateTimeCreated);

                                            if (dateSpan.Minutes < 1)
                                            {
                                                @dateSpan.Seconds.ToString()
                                                <small> sec</small>
                                            }
                                            else if (dateSpan.Hours < 1)
                                            {
                                                @dateSpan.Minutes.ToString()
                                                <small> min</small>
                                            }
                                            else if (dateSpan.Days < 1)
                                            {
                                                @dateSpan.Hours.ToString()
                                                <small> hr</small>
                                            }
                                            else
                                            {
                                                @dateSpan.Days.ToString()
                                                <small> day(s)</small>
                                            }
                                        }
                                    </small>
                                    <h5 class="notification-heading">@notification.Title</h5>
                                    <p class="notification-text">
                                        <small class="truncate">@notification.Message</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="dropdown-footer">
            <a class="dropdown-btn" asp-area="" asp-controller="Notification" asp-action="NotificationList">See All</a>
        </div>
    </div>
</li>