@model EasyShop.Domain.ViewModels.RustStore.Store.Profile.RustStoreSteamUserViewModel
@using EasyShop.Interfaces.Services.CP.Rust.Shop
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IRustShopService RustShopService
@{
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;

    var shop = RustShopService.GetShopById(
        Guid.Parse(HttpContextAccessor.HttpContext.GetMultiTenantContext().TenantInfo.Id));

    var shopTitle = shop.ShopTitle;

    ViewData["Title"] = "Profile";
    Layout = "_MainLayout";
}

<div class="title-bar">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-lg-2">
                <a href="@($"/{tenantInfo.Identifier}")">
                    <strong class="custom-nav-link">@shopTitle</strong>
                </a>
            </div>
            <div class="col-lg-10"></div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="panel panel-body">
        <div class="col-md-3 text-center">
            <h3 class="break-word">@Model.UserName</h3>
            <img src="@Model.ImgUrl" alt="@Model.UserName" />
        </div>
        <div class="col-md-9 user-details-wrap">
            <div class="row">
                <div class="col-md-1 profile-label">
                    <span class="text-left"><strong>UID</strong></span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Uid" readonly="readonly">
                </div>
            </div>
            <div class="row m-t-md">
                <div class="col-md-1 profile-label">
                    <span class="text-left"><strong>Balance</strong></span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" value="@($"${Model.Balance}")" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
}