@using EasyShop.Domain.Enums.CP.Profile
@model EasyShop.Domain.ViewModels.CP.User.UserProfile.UserProfileViewModel
@{
    ViewData["Title"] = "User profile main";
    Layout = "Partial/_Layout";

    string selected = "selected=\"\"";
    string selectedMale = String.Empty;
    string selectedFemale = String.Empty;
    string selectedNetSpec = String.Empty;

    if (Model.Gender == 1)
    {
        selectedMale = selected;
    }
    else if (Model.Gender == 2)
    {
        selectedFemale = selected;
    }
    else if (Model.Gender == 3)
    {
        selectedNetSpec = selected;
    }

    string options =
        $"<option value=\"1\" {selectedMale}>Male</option>\r\n    " +
        $"<option value=\"2\" {selectedFemale}>Female</option>\r\n    " +
        $"<option value=\"3\" {selectedNetSpec}>Not specified</option>";
}

<div class="well text-center">
    <div class="userImage">
        <img style="border-radius: 20px" src="~/UserImages/@Model.ImgUrl" alt="@Model.ImgUrl" height="150" width="auto">
        <h4>@($"{Model.FirstName} {Model.LastName}")</h4>
    </div>
    <form method="post" id="demo-inputmask" class="form-horizontal" enctype="multipart/form-data" asp-area="" asp-controller="UserProfile" asp-action="Profile">
        <input asp-for="ImgUrl" hidden="" />
        <span asp-validation-for="ImageToUpload" class="warning text-warning"></span>
        <div class="form-group">
            <label class="file-upload-btn btn btn-primary">
                Upload picture
                <input asp-for="ImageToUpload" type="file" accept="image/*">
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">
                <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
            </div>
        </div>
        <span asp-validation-for="Email" class="warning text-warning"></span>
        <div class="form-group">
            <label class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-6">
                <input asp-for="Email" class="form-control" type="email" placeholder="Email Address" value="@Model.Email" readonly="">
            </div>
        </div>
        <span asp-validation-for="FirstName" class="warning text-warning"></span>
        <div class="form-group">
            <label class="col-sm-3 control-label">First name</label>
            <div class="col-sm-6">
                <input asp-for="FirstName" class="form-control" type="text" placeholder="First name" value="@Model.FirstName">
            </div>
        </div>
        <span asp-validation-for="LastName" class="warning text-warning"></span>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-6">
                <input asp-for="LastName" class="form-control" type="text" placeholder="Last name" value="@Model.LastName">
            </div>
        </div>
        <span asp-validation-for="BirthDateToUpdate" class="warning text-warning"></span>
        <div class="form-group">
            <label class="col-sm-3 control-label">Birth date</label>
            <div class="col-sm-6">
                <input asp-for="BirthDateToUpdate" class="form-control" type="text" value="@Model.BirthDate.Date" data-inputmask="'alias': 'mm-dd-yyyy'">
                <span class="help-block m-b-n">Format (mm-dd-yyyy)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-6">
                <select asp-for="Gender" class="custom-select">
                    @Html.Raw(options)
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/login-2.css" asp-append-version="true">
}

@section Scripts
{
    <script src="~/js/demo.js" asp-append-version="true"></script>

    @if (Model.Status == UpdateUserProfileEnum.Updated)
    {
        <script>
            toastr.success('Profile updated');
        </script>
    }
}