@model EasyShop.Domain.ViewModels.ControlPanel.Tariff.EditTariffViewModel
@{
    ViewData["Title"] = "EditTariff";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Add new / Edit existing</h2>
        <hr />
    </div>
</div>

<div class="well text-center">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="demo-form-wrapper">
                <form method="post" asp-area="" asp-controller="AdminTariff" asp-action="EditTariff">
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label>Tariff Name</label>
                        <input asp-for="Name" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input asp-for="Price" class="form-control">
                        <span class="help-block">Input example (0.99 or 150.00)</span>
                    </div>
                    <div class="form-group">
                        <label>Days active</label>
                        <input asp-for="DaysActive" class="form-control" type="number">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input asp-for="Description" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Add/Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if (Model.Id != null)
    {
        if (Model.AllOptions != null)
        {
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-responsive table-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Add/Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (int i = 0; i < Model.AllOptions.Count(); i++)
                                {
                                    var tariffOptionDescription = Model.AllOptions.ElementAt(i);
                                    <tr>
                                        <td>
                                            @tariffOptionDescription.Id
                                        </td>
                                        <td>
                                            @tariffOptionDescription.Name
                                        </td>
                                        <td>
                                            @tariffOptionDescription.Description
                                        </td>
                                        <td>
                                            @if (Model.AssignedOptions.FirstOrDefault(x => x.Id == tariffOptionDescription.Id) is null)
                                            {
                                                <a asp-area="" asp-controller="AdminTariff" asp-action="AddAnOptionToATariff" asp-route-tariffId="@Model.Id" asp-route-optionId="@tariffOptionDescription.Id"><span class="icon icon-plus icon-lg icon-fw" style="color: green"></span></a>
                                            }
                                            else
                                            {
                                                <a asp-area="" asp-controller="AdminTariff" asp-action="RemoveAnOptionFromATariff" asp-route-tariffId="@Model.Id" asp-route-optionId="@tariffOptionDescription.Id"><span class="icon icon-times icon-lg icon-fw" style="color: red"></span></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>





