@using EasyShop.Domain.Enums.CP.ContactUs
@model EasyShop.Domain.ViewModels.ControlPanel.Admin.BugReport.BugReportsListViewModel
@{
    ViewData["Title"] = "Bug reports";
    Layout = "_AdminLayout";
}



<div class="panel well">
    <h2 class="text-center">Bug reports</h2>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.BugReports != null)
                        {
                            <table id="bugReportsTable" class="table table-middle nowrap dataTable no-footer" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var bug in Model.BugReports)
                                        {
                                            <tr role="row">
                                                <td><strong>@bug.Title</strong></td>
                                                <td><strong>@bug.Category.Description</strong></td>
                                                <td><strong>@bug.DateTime</strong></td>
                                                <td>
                                                    @if (bug.Status.Index == ReportStatusEnum.WaitingForReview)
                                                    {
                                                        <span class="label label-danger label-pill">
                                                            @bug.Status.Description
                                                        </span>
                                                    }
                                                    else if (bug.Status.Index == ReportStatusEnum.Reviewed)
                                                    {
                                                        <span class="label label-info label-pill">
                                                            @bug.Status.Description
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-success label-pill">
                                                            @bug.Status.Description
                                                        </span>
                                                    }
                                                </td>
                                                <td class="text-center"><a asp-area="" asp-controller="Admin" asp-action="EditBugReport" asp-route-bugId="@bug.Id"><strong><span class="icon icon-edit icon-lg"></span></strong></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom/Shared/DynamicTableStyles.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bugReportsTable').DataTable({
                "columns": [
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": false, "orderable": false }
                ]
            });
        });
    </script>
}
